@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --first:#083344;
  --second:#155e75;
  --third:#0e7490;
  --fourth:#06b6d4;
  --fifth:#22d3ee;
  --six:#67e8f9;
  --seven:#a5f3fc;
  --eight:#cffafe;
  --default:#ecfeff;
 }

*{
  margin: 0;
  top: 0;
}
/* boder animation */
@keyframes border-glow {
  0% {
    box-shadow: 0 0 5px #a5f3fc, 0 0 10px #06b6d4;
  }
  50% {
    box-shadow: 0 0 15px #ecfeff, 0 0 30px #0e7490;
  }
  100% {
    box-shadow: 0 0 5px #a5f3fc, 0 0 10px #06b6d4;
  }
}

.glow-border {
  border: 2px solid transparent;
  border-radius: 12px;
  background: linear-gradient(#083344, #083344) padding-box,
    linear-gradient(45deg, #06b6d4, #0e7490, #ecfeff, #a5f3fc) border-box;
  animation: border-glow 2s infinite ease-in-out;
}



@layer base {
  :root {
    --background:0 0% 100%;
    --foreground:0 0% 3.9%;
    --card:0 0% 100%;
    --card-foreground:0 0% 3.9%;
    --popover:0 0% 100%;
    --popover-foreground:0 0% 3.9%;
    --primary:0 0% 9%;
    --primary-foreground:0 0% 98%;
    --secondary:0 0% 96.1%;
    --secondary-foreground:0 0% 9%;
    --muted:0 0% 96.1%;
    --muted-foreground:0 0% 45.1%;
    --accent:0 0% 96.1%;
    --accent-foreground:0 0% 9%;
    --destructive:0 84.2% 60.2%;
    --destructive-foreground:0 0% 98%;
    --border:0 0% 89.8%;
    --input:0 0% 89.8%;
    --ring:0 0% 3.9%;
    --chart-1:12 76% 61%;
    --chart-2:173 58% 39%;
    --chart-3:197 37% 24%;
    --chart-4:43 74% 66%;
    --chart-5:27 87% 67%;
    --radius:0.5rem;
  }
  .dark {
    --background:0 0% 3.9%;
    --foreground:0 0% 98%;
    --card:0 0% 3.9%;
    --card-foreground:0 0% 98%;
    --popover:0 0% 3.9%;
    --popover-foreground:0 0% 98%;
    --primary:0 0% 98%;
    --primary-foreground:0 0% 9%;
    --secondary:0 0% 14.9%;
    --secondary-foreground:0 0% 98%;
    --muted:0 0% 14.9%;
    --muted-foreground:0 0% 63.9%;
    --accent:0 0% 14.9%;
    --accent-foreground:0 0% 98%;
    --destructive:0 62.8% 30.6%;
    --destructive-foreground:0 0% 98%;
    --border:0 0% 14.9%;
    --input:0 0% 14.9%;
    --ring:0 0% 83.1%;
    --chart-1:220 70% 50%;
    --chart-2:160 60% 45%;
    --chart-3:30 80% 55%;
    --chart-4:280 65% 60%;
    --chart-5:340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* gym card */
.gym-card {
  width: 320px;
  height: 370px;
  padding: 20px;
  color: white;
  background: linear-gradient(#083344, #083344) padding-box,
              linear-gradient(145deg, transparent 35%, #a5f3fc,  #06b6d4) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.gym-card:hover {
  rotate: 8deg;
}
